@use "../utils/" as u;

.setting {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--clr-text-set);

    @include u.breakpoint(medium) {
        display: grid;
        align-items: center;
    }

    &__close__btn {
        position: absolute;
        top: 6%;
        right: 5.6%;
        height: u.rem(30);
        width: u.rem(30);
        border-radius: u.rem(5);

        svg {
            width: u.rem(15);
            margin: auto;
            fill: var(--clr-text-set);
        }
    }

    &__content {
        margin: 0 u.rem(20);
        margin-top: u.rem(50);
        display: grid;
        gap: 25px;
    }

    &-active {
        display: block;
    }
}

// formatting the form and adding custom styles
.form {
    font-size: u.rem(16);
    height: u.rem(45);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint(medium) {
        font-size: u.rem(24);
    }

    &:not(:last-child) {
        margin-bottom: 27px;
    }
    select {
        // A reset of styles, including removing the default dropdown arrow
        appearance: none;

        // my styles
        background-color: transparent;
        margin: 0;
        width: 100%;

        padding: 0;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        border: none;
        line-height: inherit;

        &::-ms-expand {
            display: none;
        }
    }

    .select {
        cursor: pointer;
        font-size: u.rem(16);

        border: none;
        height: 100%;
        width: u.rem(120);

        text-align: center;
        border-radius: u.rem(50);
        background-color: var(--clr-btn-set);
        box-shadow: 0px 1px 1px var(--clr-box-shadow-set);
        padding: 0 u.rem(5);

        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        // adding custom drop down arrow
        &::after {
            content: "";
            width: 0.8em;
            height: 0.5em;
            background-color: var(--clr-drop-down-set);
            clip-path: polygon(0 0, 50% 100%, 100% 0);
        }

        select {
            text-align: center;
            color: var(--clr-text-set);
            background-color: var(--clr-btn-set);
            option {
                font-size: u.rem(12);
                font-weight: 600;
                padding-left: 100px;
                text-align: center;
            }
        }
    }
}

// adding focus style
// https://moderncss.dev/custom-select-styles-with-pure-css/
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid var(--clr-drop-down-set);
    border-radius: inherit;
}
