@use "../utils/" as u;

.nav__login-options {
  // width: u.rem(150);
  right: 0%;
  top: 110%;
  border-radius: u.rem(10);
  box-shadow: hsl(var(--blk)) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, hsla(var(--white), 0.2) 0px 12px 28px 0px, hsla(var(--blk), 0.1) 0px 2px 4px 0px, hsla(var(--white), 0.5) 0px 0px 0px 1px inset;
  background-color: hsla(var(--white));

  overflow: hidden;
  // z-index: 20;

  &-container {
    width: u.rem(128);
    display: grid;
    margin: u.rem(10);
  }
}


.login__options {
  font-size: u.rem(14);
  padding: u.rem(7) u.rem(10);
  display: flex;
  align-items: center;
  border-radius: u.rem(10);

  cursor: pointer;

  svg {
    font-size: u.rem(19);
  }

  p {
    margin-left: u.rem(10);
    font-weight: 600;
  }

  &:hover {
    color: hsl(var(--primary));
    background-color: rgb(218, 232, 245);
  }
}