@use "../utils/" as u;

.nav__setting-options {
  width: u.rem(256);
  right: -50%;
  top: 110%;
  border-radius: u.rem(10);
  box-shadow: hsl(var(--blk)) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, hsla(var(--white), 0.2) 0px 12px 28px 0px, hsla(var(--blk), 0.1) 0px 2px 4px 0px, hsla(var(--white), 0.5) 0px 0px 0px 1px inset;
  z-index: 30;

  overflow: hidden;

  &-container {
    background-color: hsla(var(--white));
    width: u.rem(512);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
}

.show {
  transform: translateX(-50%);
}

.main {


  &__options {
    width: u.rem(256);
    padding: u.rem(10);

    >hr {
      margin: u.rem(5) 0;
      border: none;
      height: 1px;
      width: 100%;
      background-color: hsla(var(--blk), 0.8);
    }
  }

  &__choices {
    padding: u.rem(10);
    width: u.rem(256);
  }

}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: u.rem(14);
  gap: u.rem(80);
  padding: u.rem(7) u.rem(10);
  border-radius: u.rem(10);
  cursor: pointer;

  &:hover {
    color: hsl(var(--primary));
    background-color: rgb(218, 232, 245);
  }

  &-title {
    display: flex;
    align-items: center;
    gap: u.rem(10);

    svg {
      font-size: u.rem(19);
    }

    p {
      font-weight: 600;
    }
  }

  .button {
    font-size: u.rem(24);
  }
}

.customize-title {
  display: flex;
  align-items: center;
  gap: u.rem(10);

  p {
    font-weight: 600;
    font-size: u.rem(17);
  }

  .arrow {
    padding: u.rem(4);
    background-color: hsla(var(--primary), 0.5);
    border-radius: 50%;
    color: hsl(var(--white));
    cursor: pointer;

    &:hover {
      background-color: hsla(var(--primary), 0.9);
    }

    &:active {
      background-color: hsla(var(--primary), 0.7);
    }
  }
}

// variable based displays
.customFocus .main__choices .customize__timer {
  display: grid;
}

.customAlarm .main__choices .customize__alarm {
  display: grid;
}

.autoStart .main__choices .auto__start {
  display: grid;
}