@use "../utils/" as u;

/* login page start*/
.loginpage {
  margin-inline: u.rem(18);

  h2 {
    margin-top: u.rem(50);
    text-align: center;
    font-size: u.rem(25);
    font-weight: 600;
    letter-spacing: u.rem(3);
  }

  @include u.breakpoint(medium) {
    height: 100vh;
  }

  &__container {
    max-width: u.rem(400);
    margin-inline: auto;
    padding-top: u.rem(15);

    display: flex;
    flex-direction: column;

    @include u.breakpoint(large) {
      // max width
      max-width: u.rem(1200);

      &--div {
        margin-top: u.rem(150);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

/* login start*/
.login,
.signup {
  font-size: u.rem(12);

  @include u.userPasswordInputEye;

  &__form {
    margin-top: u.rem(25);
    font-family: var(--ff-s);

    &--div {
      display: flex;
      flex-direction: column;
      padding-bottom: u.rem(20);

      @include u.userInput;
    }
  }

  &__btn {
    margin-top: u.rem(25);
    width: 100%;
    text-transform: uppercase;

    background-color: hsla(var(--primary), 70%);
    color: hsl(var(--white));


    &:hover {
      background-color: hsla(var(--primary), 85%);
      color: hsl(var(--white))
    }

    &:active {
      background-color: hsla(var(--primary), 50%);
    }
  }

  &__trouble {
    text-align: end;
    font-size: u.rem(10);

    a {
      color: hsl(var(--dark-grey));

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.signup__link {
  margin-top: u.rem(35);
  text-align: center;
  font-family: var(--ff-s);

  &--p {
    font-size: u.rem(12);
  }

  a {
    color: hsl(var(--blk));
    font-weight: 600;
    transform: text-decoration 0.3s ease-in;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* login start*/
/* login and oauth seperator start*/
.seperator {
  margin: u.rem(35) 0;

  position: relative;
  color: hsla(var(--dark-grey));
  display: flex;
  height: u.rem(25);
  // width: 100%;


  &__top,
  &__bottom {
    position: absolute;
    height: u.rem(1.5);
    width: 40%;
    background: hsla(var(--grey));

  }

  &__top {
    top: 50%;
    transform: translateY(-50%);

    @include u.breakpoint(large) {
      top: -700%;
      transform: none;
      width: u.rem(2);
      height: u.rem(150);
    }
  }

  &__bottom {
    top: 50%;
    right: 0%;
    transform: translateY(-50%);

    @include u.breakpoint(large) {
      top: 200%;
      transform: none;
      width: u.rem(2);
      height: u.rem(150);
    }
  }

  p {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
}

/* login and oauth seperator end*/
/* oauth start*/
.oauth {
  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-weight: bold;
  }

  &__google {
    margin-bottom: u.rem(20);
    background-color: hsl(var(--bg));
    border: 1px solid hsla(var(--blk), 70%);
    color: hsla(var(--blk), 70%);

    p {
      margin-left: u.rem(10);
    }

    svg {
      font-size: u.rem(25);
    }

    &:hover {
      background-color: hsla(var(--light-grey), 30%);
      border: 1px solid hsla(var(--blk), 85%);
      color: hsla(var(--blk), 85%);

    }

    &:active {
      background-color: hsl(var(--bg));
      border: 1px solid hsla(var(--blk), 50%);
      color: hsla(var(--blk), 50%);
    }
  }

  &__guest {
    background-color: hsla(var(--red), 70%);
    color: hsl(var(--white));

    &:hover {
      background-color: hsla(var(--red), 85%);
      color: hsl(var(--white));
    }

    &:active {
      background-color: hsla(var(--red), 50%);
    }
  }
}