@use "../utils/" as u;

body {
  font-family: var(--ff);
  font-size: u.rem(16);
  background: hsl(var(--bg));
}

main {
  margin: 0 u.rem(15);
}


.btn {
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: u.rem(16);
  padding: u.rem(10) u.rem(32);
  border-radius: u.rem(7);
  font-weight: 600;
  color: black;
  cursor: pointer;
  background-color: rgba(178, 202, 241, 0.5);

  &:hover {
    background-color: rgba(178, 202, 241, 0.55);
    color: hsl(var(--primary));
  }

  &:active {
    background-color: rgba(178, 202, 241, 0.8);
  }
}

.underline {
  height: 2px;
  width: 100%;
  background-color: hsla(var(--bdr-btm-clr));
}