@use "../utils/" as u;

body {
  font-family: var(--ff);
  font-size: u.rem(16);
  background: hsl(var(--bg));
}

#root {
  max-width: u.rem(1200);
  margin: 0 auto;
}

.main__functions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include u.breakpoint(large) {
    flex-direction: row;
    align-items: flex-start;
    gap: u.rem(20);
    margin: u.rem(20) u.rem(10);
  }
}

/* default styles for button start*/
.btn {
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: u.rem(16);
  padding: u.rem(10) u.rem(32);
  border-radius: u.rem(7);
  font-weight: 600;
  color: hsla(var(--blk), .75);
  cursor: pointer;
  background-color: rgba(178, 202, 241, 0.5);

  &:hover {
    background-color: rgba(178, 202, 241, 0.55);
    color: hsl(var(--primary));
  }

  &:active {
    background-color: rgba(178, 202, 241, 0.8);
  }
}

/* default styles for button end */

.underline {
  height: 2px;
  width: 100%;
  background-color: hsla(var(--bdr-btm-clr));
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bounce {
  animation: bounce 450ms;
  animation-timing-function: linear;
}

.overlay {
  background-color: transparent;
  height: calc(100vh - 3rem);
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1;
}

/* logo */
#svgg {

  // path0 = all components of clock
  #path0 {
    // fill: red;
  }

  // path1 = background
  #path1 {
    fill: transparent;
  }

  // path2 = time covered
  #path2 {
    // fill: green;
  }
}

.logo {
  height: u.rem(50);
  width: u.rem(50);
  background: hsl(var(--bg));
  cursor: pointer;
}

/* input underline*/
.line__overlay {
  position: relative;

  .line {
    position: absolute;
    height: u.rem(1.5);
    width: 100%;
    background: hsla(var(--grey), 0.4);


    &__fake {
      position: absolute;
      height: u.rem(1.5);
      background: hsl(var(--dark-grey));
      width: 0%;
      transition: width 0.3s ease-in;
    }
  }
}

/* input underline end*/
/* */