@use "../utils/" as u;

body {
  font-family: var(--ff);
  font-size: u.rem(16);
  background: hsl(var(--bg));
  // background-color: black;
}

#root {
  max-width: u.rem(1200);
  margin: 0 auto;
}

.main__functions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include u.breakpoint(large) {
    flex-direction: row;
    align-items: flex-start;
    gap: u.rem(20);
    margin: u.rem(20) u.rem(10);
  }
}

.btn {
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: u.rem(16);
  padding: u.rem(10) u.rem(32);
  border-radius: u.rem(7);
  font-weight: 600;
  color: hsla(var(--blk), .75);
  cursor: pointer;
  background-color: rgba(178, 202, 241, 0.5);

  &:hover {
    background-color: rgba(178, 202, 241, 0.55);
    color: hsl(var(--primary));
  }

  &:active {
    background-color: rgba(178, 202, 241, 0.8);
  }
}

.underline {
  height: 2px;
  width: 100%;
  background-color: hsla(var(--bdr-btm-clr));
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bounce {
  animation: bounce 450ms;
  animation-timing-function: linear;
}

@keyframes bounce {
  25% {
    transform: scale(calc(var(--s, 1) + 0.2));
  }

  50% {
    transform: scale(calc(var(--s, 1) - 0.1));
  }

  75% {
    transform: scale(calc(var(--s, 1) + 0.1));
  }

  100% {
    transform: scale(var(--s, 1));
  }
}

.overlay {
  background-color: transparent;
  height: calc(100vh - 3rem);
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1;
}

#svgg {

  // path0 = all components of clock
  #path0 {
    fill: red;
  }

  // path1 = background
  #path1 {
    fill: transparent;
  }

  // path2 = time covered
  #path2 {
    fill: green;
  }
}