@use "../utils/" as u;

.timer {
  //  need to remove this aftewards
  display: grid;
  // background-color: rgb(231, 224, 224);
  max-width: u.rem(455);
  max-height: u.rem(590);
  margin: u.rem(15);
  padding: u.rem(10);
  justify-items: center;

  &__stateSwitch {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      width: u.rem(110);
      background: transparent;
      border: none;
      border-bottom: u.rem(2) solid transparent;
      font-weight: 700;
      color: hsl(var(--red));
      padding-inline: u.rem(10);
      padding-top: u.rem(5);
      cursor: pointer;
      border-radius: u.rem(5);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        background-color: hsla(var(--primary), 0.1);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    .active {
      border-color: hsla(var(--bdr-btm-clr), 0.5);
    }

    .pomodoro {
      color: hsl(var(--primary));
    }
  }

  &__cntdwn {
    display: inline-block;

    &-relative {
      position: relative;
    }

    &-container {
      text-align: center;
      margin: u.rem(20) 0;
    }

    &-div {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      margin: u.rem(10);

      h1 {
        font-size: u.rem(64);
        font-weight: 600;
        margin-top: u.rem(40);
      }
    }

    &-level {
      font-size: u.rem(14);
      line-height: u.rem(18);
      margin-top: u.rem(10);

      div {
        display: inline-block;
        cursor: pointer;
      }

      .lvl {
        font-weight: 600;
      }
    }

    &-session {
      margin-top: u.rem(10);
      font-size: u.rem(12);

      div {
        display: inline-block;
        cursor: pointer;
      }
    }

    &-svg {
      height: u.rem(275);
      width: u.rem(275);

      .progress {
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        transition: stroke-dashoffset 0.3s linear;
      }

      .track[data-circlecolor] {
        opacity: 0.2;
      }
    }
  }

  &__controller {
    // color
    display: flex;
    justify-content: space-between;

    button {
      text-transform: uppercase;
    }

    .primary {
      background-color: hsla(var(--primary), .95);

      &:hover {
        background-color: hsla(var(--primary), 1);
      }

      &:active {
        background-color: hsla(var(--primary), .85);
      }

    }

    .secondary {
      background-color: hsla(var(--red), .95);

      &:hover {
        background-color: hsla(var(--red), 1);
      }

      &:active {
        background-color: hsla(var(--red), .85);
      }

      &:disabled {
        background-color: hsla(var(--red), .5);
      }
    }
  }
}

.is_pomodoro {
  stroke: hsl(var(--primary));
  color: hsl(var(--primary));
}

.is_break {
  stroke: hsl(var(--red));
  color: hsl(var(--red));
}