@use "../utils/" as u;

.signuppage {
  margin-inline: u.rem(18);

  h2 {
    margin-top: u.rem(50);
    text-align: center;
    font-size: u.rem(25);
    font-weight: 600;
    letter-spacing: u.rem(3);
  }

  &__container {
    // max-width: u.rem(400);
    margin-inline: auto;
    padding-top: u.rem(15);

    &--div {
      margin-inline: auto;

      display: grid;
      max-width: u.rem(400);

      a {
        margin-top: u.rem(10);
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;

        color: hsl(var(--blk));
        background-color: hsl(var(--bg));
        border: 1px solid hsl(var(--blk));

        &:hover {
          background-color: hsla(var(--light-grey), 30%);
          color: hsla(var(--blk), 80%);
        }

        &:active {
          background-color: hsla(var(--light-grey), 60%);
        }
      }
    }
  }

  &__btn {
    width: 100%;
    margin-top: u.rem(10);

    background-color: hsl(var(--light-grey));
    color: hsl(var(--grey));

    &.active {
      background-color: hsla(var(--primary), 50%);
      color: hsl(var(--white));


      &:hover {
        background-color: hsla(var(--primary), 75%);
        color: hsl(var(--white))
      }

      &:active {
        background-color: hsla(var(--primary), 50%);
      }
    }
  }
}


.termsAndService {
  font-size: u.rem(10);
  text-align: center;

  span {
    color: hsl(var(--dark-grey));
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}