@use "../utils/" as u;

.tasks__list__modal {
  padding: u.rem(15) u.rem(10);
  background-color: rgb(255, 255, 255);
  display: grid;
  border-radius: u.rem(7);
  gap: u.rem(10);


  input[type=text],
  textarea {
    padding: u.rem(10);
    border-radius: u.rem(7);
    border: 1px solid hsla(var(--blk), 0.5);
    outline: none;

    &:is(:focus) {
      border-color: hsl(var(--primary));
    }
  }

  input[type=text] {
    width: 100%;

  }

  textarea {
    outline: none;
    resize: none;

  }

  &-notes {
    display: flex;
    align-items: center;
    // justify-items:;
    gap: u.rem(20);

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: u.rem(12);
      padding-inline: u.rem(15);
      gap: u.rem(5);
      width: u.rem(150);
    }

    textarea {
      width: 100%;
      max-height: u.rem(150);
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;


    button {
      padding-inline: u.rem(15);
    }

    .delete:hover {
      color: hsl(var(--red));
    }

    >div {
      display: flex;
      gap: u.rem(10);
      text-decoration: none !important;
    }
  }


  .is__error {
    border: 1px solid hsl(var(--red)) !important;
  }

  .error {
    font-size: u.rem(12);
    color: hsl(var(--red));
  }


}