:root {
  --bg: 220, 18%, 97%; // background

  --white: 0, 0%, 100%;
  --primary: 252, 93%, 67%;
  --red: 0, 93%, 67%;
  --bdr-btm-clr: 0, 0%, 0%;
  --blk: 0, 0%, 0%;
  --grey: 0, 0%, 58%;
  --dark-grey: 0, 0%, 25%;
  --light-grey: 0, 0%, 85%;
  --underline: 133, 133, 133;
  --hover: 228, 228, 228;

  // font family
  --ff: 'Open Sans', sans-serif;
  --ff-s: "Poppins", sans-serif;
  --transition: all 0.3s linear;

}