@use "../utils/" as u;

nav {
    background-color: var(--clr-bg-nav);
    box-shadow: var(--box-shadow);
    font-family: var(--ff-nav);
    font-weight: var(--fw-nav-bolder);
    font-size: u.rem(24);
    color: var(--clr-text-nav);
}

.nav {
    margin: 0 auto;

    @include u.breakpoint(large) {
        display: flex;
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }

    &__header {
        max-width: 1300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .icon {
            cursor: pointer;
            user-select: none;
            &:hover {
                color: var(--clr-nav-hover);
            }
        }

        @include u.breakpoint(large) {
            margin: 0;
        }
    }

    &__toggle {
        font-size: u.rem(24);
        color: var(--clr-toggle);
        cursor: pointer;

        background: transparent;
        border-color: transparent;
        transition: var(--transition);

        &:hover {
            transform: rotate(90deg);
        }

        @include u.breakpoint(large) {
            display: none;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__container {
            height: 0;
            overflow: hidden;
            transition: var(--transition);

            @include u.breakpoint(large) {
                height: auto !important;
            }
        }

        transition: var(--transition);

        @include u.breakpoint(large) {
            flex-direction: row;
            align-items: center;
        }

        a {
            display: block;
            font-size: u.rem(16);
            letter-spacing: u.rem(1.6);
            margin: 1rem auto;
            position: relative;

            @include u.breakpoint(large) {
                margin-right: u.rem(32);

                // &::after {
                // bottom: -20px !important;
                // }
            }

            @include u.breakpoint(medium) {
                font-size: u.rem(18);
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                display: block;
                height: 4px;
                bottom: -8px;
                background-color: var(--clr-link-inactive-hover);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: var(--clr-nav-hover);
                &::after {
                    opacity: 1;
                }
            }

            &.current {
                &::after {
                    opacity: 1;
                    background-color: var(--clr-toggle);
                }
            }
        }
    }

    a,
    a:active,
    a:focus {
        text-decoration: none;
        color: inherit;
    }
}

.toggle {
    background-color: var(--clr-toggle);
    width: u.rem(60);
    height: u.rem(26);
    position: relative;
    border-radius: u.rem(30);
    user-select: none;
    cursor: pointer;
    margin: 1rem 0;

    .cover {
        width: u.rem(20);
        height: u.rem(20);
        background-color: var(--clr-bg-nav);
        position: absolute;
        clip-path: circle();
        top: 50%;
        transform: translateY(-50%);
        right: 7%;
        z-index: 100;
        transition: var(--transition);
    }

    .light {
        transition: var(--transition);
        right: 60%;
        background-color: var(--clr-bg-nav);
    }

    .sun {
        width: 18px;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        fill: var(--clr-sun);
    }

    .moon {
        width: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        fill: var(--clr-moon);
    }

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    @include u.breakpoint(large) {
        margin: 0;
        margin-right: u.rem(8);
    }
}
