// default is dark mode
:root {
    // Pomodoro colors
    --clr-bg-pmdr: #121212;
    --clr-border-pmdr: #262626;
    --clr-icon-pmdr: #b7b7b7;
    --clr-warning-pmdr: #823232;
    --clr-go-pmdr: #2a4229;
    --clr-timer-scr-pmdr: #444444;
    --clr-btn-active: rgba(175, 174, 174, 0.603);
    --clr-btn-hover-pmdr: rgb(63, 63, 63);

    // Setting colors
    --clr-bg-set: #121212;
    --clr-text-set: var(--clr-icon-pmdr);
    --clr-box-shadow-set: #787878;
    --clr-btn-set: #484848;
    --clr-drop-down-set: #b7b7b7;

    // nav colors
    --clr-bg-nav: #262626;
    --clr-text-nav: var(--clr-icon-pmdr);
    --clr-sun: #212121;
    --clr-moon: #fff;
    --clr-toggle: var(--clr-icon-pmdr);
    --clr-nav-hover: #ffffff;
    --clr-link-inactive-hover: #a09f9f9f;

    // font family
    --ff-nav: "IBM Plex Mono", monospace;
    --ff-main: "Inria Sans", sans-serif;

    // font weight
    --fw-main-light: 300;
    --fw-main-reg: 400;
    --fw-main-bold: 700;

    --fw-nav-light: 300;
    --fw-nav-reg: 400;
    --fw-nav-bold: 500;
    --fw-nav-bolder: 600;
    --transition: all 0.3s linear;

    --box-shadow: 0 5px 10px rgba(126, 126, 126, 0.1);
}

.light_mode {
    // Pomodoro colors
    --clr-bg-pmdr: hsl(210, 36%, 96%);
    --clr-border-pmdr: #b0b0b0;
    --clr-icon-pmdr: #393939;
    --clr-warning-pmdr: #fb8181;
    --clr-go-pmdr: #7dbe7c;
    --clr-timer-scr-pmdr: #ffffff;
    --clr-btn-active: #dbdbdb9a;
    --clr-btn-hover-pmdr: #d8d8d8;

    // Setting colors
    --clr-bg-set: #ededed;
    --clr-text-set: var(--clr-icon-pmdr);
    --clr-box-shadow-set: #404040;
    --clr-btn-set: #b0b0b0;
    --clr-drop-down-set: rgba(0, 0, 0, 0.478);

    // nav colors
    --clr-bg-nav: #ffffff;
    --clr-text-nav: var(--clr-icon-pmdr);
    --clr-toggle: #393939;
    --clr-nav-hover: #000000;
    --clr-link-inactive-hover: #c0c0c09f;
}
